@{
    ViewData["Title"] = "Information Member ";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <form>
            UmayPlus Card: <input type="text" id="txt_CardNo" name="txt_CardNo"><br/>
            Personal Card: <input type="text" id="txt_CardID" name="txt_CardID"><br/>
            Birth    Date: <input type="text" id="txt_BirthDate" name="txt_BirthDate"><br/>
            Mobile       : <input type="text" id="txt_Mobile" name="txt_Mobile"><br/>
            <input type="submit" value="Next">
        </form>
    </div>
</div>
